* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;

}

body {

    background: #f5f5f7;

    color: #333;

}

.header {

    background: #1a73e8;

    color: white;

    padding: 40px 0;

    text-align: center;

}

.title {

    font-size: 35px;

    font-weight: bold;

}

.subtitle {

    margin-top: 10px;

    font-size: 18px;

}

.resume-btn {

    display: inline-block;

    margin-top: 20px;

    padding: 12px 20px;

    background: white;

    color: #1a73e8;

    border-radius: 6px;

    text-decoration: none;

    font-weight: bold;

}

.section {

    padding: 40px 0;

}

.gray {

    background: #e9ecf1;

}

.container {

    width: 85%;

    max-width: 900px;

    margin: auto;

}

.skills span {

    display: inline-block;

    background: white;

    padding: 10px 15px;

    margin: 6px;

    border-radius: 5px;

    border: 1px solid #ccc;

    font-size: 14px;

}

.project {

    background: white;

    padding: 20px;

    margin-top: 20px;

    border-radius: 8px;

    border-left: 5px solid #1a73e8;

}

.project h3 {

    margin-bottom: 10px;

}

.footer {

    text-align: center;

    padding: 20px;

    background: #1a73e8;

    color: white;

    margin-top: 20px;

}